@import "tailwindcss";

  @theme{
      --color-primary-color: #8200db;
      --color-primary-color-hover:#ad46ff;
      --color-mint-600: #00b89c;
      --color-mint-700: #009688;
      --color-mint-800: #00796b;
      --color-mint-900: #004d40;
  
  }

  .custom-toast{
    background-color: black;
    color: white
  }
  /* Override the close icon color */
.Toastify__close-button {
  color: var(--color-primary-color-hover) !important; /* change to your desired color */
  opacity: 1; /* ensure it's fully visible */
}
.toastify-progress-bar{
  background-color: var(--color-primary-color-hover) !important;
}
  .todo-checkbox{
    accent-color: var(--color-primary-color-hover) !important;
  }